<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	">


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/newdb"></property>
		<property name="username" value="root"></property>
		<property name="password" value="mysql"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                <!--  hibernate.hbm2ddl.auto=create
                hibernate.show_sql=true
                hibernate.format_sql=false   -->
                
            </value>
        </property>
		<property name="mappingResources">
			<list>
				<value>com/model/Ability.hbm.xml</value>
				<value>com/model/Employee.hbm.xml</value>
				<value>com/model/Organization.hbm.xml</value>
				<value>com/model/Position.hbm.xml</value>
				<value>com/model/Role.hbm.xml</value>
				<value>com/model/OrgEmpRelation.hbm.xml</value></list>
		</property>
	</bean>
		
	<!-- Ability配置 -->	
	<bean id="AbilityDAO" class="com.dao.AbilityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AbilityService" class="com.service.impl.AbilityServiceImpl">
		<property name="abilitydao">
		<ref bean="AbilityDAO"/>
		</property>
	</bean>
	
	<!-- Employee配置 -->
	<bean id="EmployeeDAO" class="com.dao.EmployeeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="EmployeeService" class="com.service.impl.EmployeeServiceImpl">
		<property name="employeedao">
		<ref bean="EmployeeDAO"/>
		</property>
	</bean>
	<bean id="EmployeeAction" class="com.action.EmployeeAction"> 
		<property name="employeeservice">
		<ref bean="EmployeeService"/>
		</property>
		<property name="employeedao">
		<ref bean="EmployeeDAO"/>
		</property>
		<property name="organizationdao">
		<ref bean="OrganizationDAO"/>
		</property>
		<property name="orgemprelationdao">
		<ref bean="OrgEmpRelationDAO"/>
		</property>
		<property name="pageservice" >
		<ref bean="PageService"/>
		</property>
	</bean>
	<bean id="GetEmpInfo" class="com.server.GetEmpInfo"> 
		<property name="employeeservice" >
			<ref bean="EmployeeService"/>
		</property>
		<property name="roledao">
			<ref bean="RoleDAO"/>
		</property>
		<property name="positiondao">
			<ref bean="PositionDAO"/>
		</property>
	</bean>
	<!-- Organization配置 -->
	<bean id="OrganizationDAO" class="com.dao.OrganizationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrganizationService" class="com.service.impl.OrganizationServiceImpl">
		<property name="organizationdao">
		<ref bean="OrganizationDAO"/>
		</property>
	</bean>
	<bean id="OrganizationAction" class="com.action.OrganizationAction"
	 abstract="false" lazy-init="default" autowire="default" 
      scope="prototype"> 
		<property name="organizationService">
		<ref bean="OrganizationService"/>
		</property>
		
	</bean>
	
	<!-- Position配置 -->
	<bean id="PositionDAO" class="com.dao.PositionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PositionService" class="com.service.impl.PositionServiceImpl">
		<property name="positiondao">
		<ref bean="PositionDAO"/>
		</property>
	</bean>
	
	<!-- role配置 -->
	<bean id="RoleDAO" class="com.dao.RoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleService" class="com.service.impl.RoleServiceImpl">
		<property name="roledao">
		<ref bean="RoleDAO"/>
		</property>
	</bean>
	<bean id="RoleAction" class="com.action.RoleAction"
	 abstract="false" lazy-init="default" autowire="default" 
      scope="prototype"> 
		<property name="roleService">
		<ref bean="RoleService"/>
		</property>
		<property name="pageservice">
		<ref bean="PageService"/>
		</property>
	</bean>
	
		<!-- PageDAO PageService 配置  -->
	<bean id="PageDAO" class="com.dao.PageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="PageService" class="com.service.impl.PageServiceImpl">
		<property name="pagedao">
		<ref bean="PageDAO"/>
		</property>
	</bean>
	<bean id="OrgEmpRelationDAO" class="com.dao.OrgEmpRelationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean></beans>